<!doctype html>
<html>

<head>
    <title>remedio</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/sakura-dark.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <header>
        <div>
            <h3 id="title"><a href="/">remedio</a></h3>Medication helper
        </div>
    </header>
    <hr>
    {{ template "content" .}}
</body>

</html>