{{ define "content" }}
<div id="content">
    <form action="/add">
        <button>+ Add</button>
    </form>
    {{ range . }}
        <div class="row">
            <div class="column" style="flex: 1;">
                <strong>{{ .Name }}</strong>
                <br />{{ .Supply}} supply
                <br />{{ .Time.Format "15:04" }} reminder
                {{ if .LastTaken.Valid }}
                    <br />{{ .LastTaken.Time.Format "2006/01/02 15:04" }} last taken
                {{ end }}
                {{ if lt .Supply 7 }}
                    <strong class="error">Less than a week of supply!</strong>
                {{ end }}
            </div>
            <div class="column" style="text-align: right">
                {{ if gt .Supply 0 }}
                    <a href="/take/{{ .ID }}">Take one now</a><br />
                {{ end }}
                <a href="/edit/{{ .ID }}">Edit</a><br />
                <a href="/delete/{{ .ID }}" onclick="return confirm('Are you sure?')">Delete</a>
            </div>
        </div>
    {{ end }}
</div>
{{ end }}